
html, body{
    background-color: #7F4646;
    font-size: 2.5vw;
    color: white;
    width: 100%;
    font-family: "Avenir", "Helvetica", "Arial";
    overflow-x: hidden;
}

#contact {
    position: bottom;
    left: 25%;
    text-align: center;
    bottom: 0vw;
}

.work-ex {
    border: solid #501212 5px;
    background-color: #6B2929;
    padding: 10px;
    text-align: center;


}

.work-ex ul {
    text-align: left;
}






 